@media only screen and (min-width: 992px) {
    #hide-navbar {
        display: none;
    }
}

#navbarNav-mobile {
    a {
        color: black;
    }
    .nav-pills .show > .nav-link {
        background-color: white !important;
    }
    .nav-link {
        background: white !important;
    }

    .nav-link-active {
        span,
        i {
            color: rgb(255, 249, 249) !important;
        }
        background: rgb(85, 86, 165) !important;
    }
}
.navbar {
    box-shadow: 0 0 15px rgba(0 0 0 / 7%);
}
